{% extends '../layout.twig' %}
{% block title %} Lista de publicaciones {% endblock %}

{% block main_container %}
    <h2>Lista de publicaciones</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Título</th>
                <th>Texto</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>
            {% for publication in publications %}
                <tr id="publiCount">
                    <td>{{ publication.titulo }}</td>
                    <td>{{ publication.texto }}</td>
                    <td>{{ publication.fechaCreacion }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}