{% extends 'layout.twig' %}


{% block title %} Index {% endblock %}


{% block main_container %}
  <h1 id="index">Bienvenido a SOCIALNETWORK</h1>
  <p>Registrate o Identifícate para continuar</p>
{% endblock %}
