<script>

    let userEmail;
    let userRol;
    window.onload = function() {
        userEmail = getCookie("userEmail");
        userRol = getCookie("userRol");
        document.getElementById('userEmail').innerHTML = userEmail ;
        document.getElementById('userRol').innerHTML = userRol ;
    };
</script>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} uoMusic {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
</head>
<body>
{#{% set user = app.session.get('user') %}#}
<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/images/logo.png" alt="logo"/>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                {% if userEmail == null %}
                {% else %}
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                    </li>
                    {% if userRol == 'USER' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"> Opciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="../user/list">Lista de Usuarios</a><br>
                                <a class="dropdown-item" href="../peticiones">Lista de Peticiones</a><br>
                                <a class="dropdown-item" href="../amistades">Lista de Amistades</a><br>
                                <a class="dropdown-item" href="../publications">Ver Publicaciones</a><br>
                                <a class="dropdown-item" href="../publications/add">Crear Publicaciones</a><br>
                            </div>
                        </li>
                    {% endif %}

                    {% if userRol == 'ADMIN' %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="user/list" id="adminDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"> Gestión de usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="../user/adminList">Lista de Usuarios</a><br>
                                <a class="dropdown-item" href="../publications/adminList">Lista de Publicaciones</a><br>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if userEmail == null %}
                    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
                {% else %}
                    <li><a id="btnDesconectar" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Desconectarse</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% set userEmail = getCookie %}
</nav>


<div class="container">
    <script>

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        //console.log(document.cookie['userEmail']);
        /*getUserSession();
        function getUserSession(response) {
            Cookies.set('userEmail', response.email);
            Cookies.set('userRol', response.email);
        }*/

        let params = new URLSearchParams(location.search);
        let message = params.get("message");
        let messageType = params.get("messageType");
        if (message != null && message != "") {
            if (messageType == "") {
                messageType = 'alert-info';
            }
            $(".container")
                .append("<div class='alert " + messageType + "'>" + message + " </div>");
        }



    </script>
    <!-- Contenido -->
    {% block main_container %}
        <!-- Posible contenido por defecto -->
    {% endblock %}
</div>


</body>
</html>
